//color
$blue-color: #3c50e0;
$title-color: #00005c;
$violet-color: #ff5670;
$text-color: #627193;
$white-color: #ffffff;
$yellow-color: hsl(43, 100%, 50%);
$background-color: #f4f7fc;

//font
$primary-font: "Inter", sans-serif;
