nav.nav 
    .container 
        .nav-menu 
            .nav-logo
                img.nav-logo-image1(src="./images/nav-logo.png", alt="nav-logo-image1")
                img.nav-logo-image2(src="./images/Union.png", alt="nav-logo-image2")
            ul.nav-menu-list
                each val in [{href:'/', title:"Home"},{href:'/', title:"Offers"},{href:'/', title:"Company"},{href:'/', title:"Services"}] 
                    li.nav-menu-item
                        a.nav-menu-link(href=val.href)= val.title
                li.nav-menu-item
                    a.nav-menu-link(href='/') Contact
                    .nav-menu-down
                      svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
                        path(stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5")
            .nav-right 
                a.nav-singin(href="/") Sign in
                a.nav-getStarted(href="/") Get Started

                